body{
	background-color:#004d40;
}
.background{
	background-image:url("../../images/logo/study_tonight_200x200.png");
	background-position:center;
	background-repeat:no-repeat;
}
.nav-wrapper{
	background-color:#009688; 
}
.sidenav-trigger:hover{
	color:blue;

}
.sidenav{
	background-color:#eceff1;
}
.social_Media_Links{
	margin-bottom:0;
	margin-top:0;
	height:40px;
}
#informationContainer_div{
	position:relative;
	height:auto;
}
#social_Media_Links > label{
	padding-left:5%;
}
#lblGoogleLink{
	padding-left:0;
}
#lblFacebookLink
{
	padding-right:5%;
	padding-left:0%;
}


#btnLogOut{
	margin-left:100px;
}
#social_Media_Links{
	margin-top:9px;
	text-align:center;
	align-content:center;

}
#lblCompanyName{
	margin-top:0;
	height:40px;
}
#companyName
{
	color:grey;
	text-align:center;
}
#uploadNewImage{
	
	font-size:22px;
	width:200px;
	height:200px;
	margin-top:10%;
	position:relative;

	

}
#user_avatar_container{
	position:relative;
	margin-top:20px;
	height:200px;
	width:200px;
	overflow: hidden;
	
}
	#user_profile_image{
		
		width:100%;
		height:auto;
		
	}
	#user_avatar{
		  position: absolute; 
		  bottom: 0; 
		  background: rgb(0, 0, 0);
		  background: blue; /* Black see-through */
		  color: #f1f1f1; 
		  width: 100%;
		  transition: .5s ease-in;
		  opacity:0;
		  color: white;
		  font-size: 15px;
		  padding: 10px;
		  text-align: center;	
	}
	#user_avatar_container:hover #user_avatar{
		opacity: 1;

	}
#user_name_label{
	font:bold;
	font-size:20px;
	color:black;
}
#user_email_label{
	font:italic;
	color:grey;
}

#userName{
	font:bold;
	font-size:22px;
	

}
#userEmail{
	color:grey;
	font-size:12px;
	
}
#txtUserName,#txtUserEmail{
	width:70%;
	border-bottom:0px;
	
}
#txtUserName{

	
	padding-left:1%;
	border-radius:20px;
	border:1px solid white;
	background-color: #f9fbe7;

}
select{
	width:200px;
	border-top:0;
	background-color:inherit;
	border-right:0;
	border-left:0;
	background-bottom:1px solid grey;
}
#btnSaveChanges{
	bottom:0;
	margin-top:20px;
	margin-left:40%;
}